/*Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/


.body {
    background-image: url(../img/trianglify-lowres.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Oxygen', sans-serif;
}

.text-pamela {
    color: #2311be !important;
}

#header {
    color: white;
    background: rgb(120,95,212);
background: linear-gradient(0deg, rgba(120,95,212,1) 5%, rgba(97,98,98,1) 100%);
    
}
#header img {
    width: 85px;  
    
}

.navbar{
    background-image: url(../img/trianglify-lowres.png);
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(255, 254, 254, 0.993);
    border-radius: 3px;
    /*height: 100%;*/
    color: #e3e2e2;
}

.navbar-brand {
    font-family: 'Courgette', cursive;
}

.navbar-img {
    align-items: flex-end;
    height: 50%;
}
.navbar-logo{
    font-family: 'Courgette', cursive;
    align-items: center;
    font-size: 140%;
    text-shadow:black 0.1em 0.1em 0.2em;
    color: #e3e2e2;
}

.nav-item {
    font-weight: bold;
    color: #e3e2e2;
}

.nav-link {
    color: white;
    font-size: 21px;
}


.home {
    height: 520px auto;
    /*display: flex;*/
    text-align: center;
    /*justify-content: space-between;*/
    color: #e3e2e2;
}

h1 {
    margin-top: 4%;
    font-size: 85px auto; 
    letter-spacing: 3px;
    text-shadow:black 0.1em 0.1em 0.2em;
    font-family: 'Aclonica', sans-serif;
}

h2 {
    font-size: 22px auto; 
    line-height: 1.5; 
    letter-spacing: 2px;
    margin: 0;   
    font-family: 'Aclonica', sans-serif;
    text-shadow:black 0.1em 0.1em 0.2em;
   
}

h2 strong{ 
    color: #2311be;
    text-shadow:rgb(211, 209, 209) 0.1em 0.1em 0.2em;
}

.foto {
    border-radius: 70%;
    margin-top: 10px;
    margin-right: 1rem;
    width: 300px;
    height: 300px;
    align-content: center;
    justify-content: center;
    filter: drop-shadow(10px 10px 16px rgb(0, 0, 0));
}

.btn {
    font-size: auto; 
    font-weight: bold;
    color: #dcdcdc;
    letter-spacing: 1px;
    text-shadow:black 0.1em 0.1em 0.2em;
   /* border-color: #e3e2e2;*/
    border: 2px solid #e3e2e2;
    -webkit-box-shadow: -3px 2px 17px -3px rgba(197,197,199,1);
    -moz-box-shadow: -3px 2px 17px -3px rgba(197,197,199,1);
    box-shadow: -3px 2px 17px -3px rgba(197,197,199,1);
    border-radius: 12px;
}

.sobremi{
    margin-top: 35px;
    height: 520px auto;
    /*display: flex;*/
    text-align: center;
    justify-content: center;
    color: #dcdcdc;
}

.sobremi-image{
    border-radius: 70%;
    margin-top: 10px;
    margin-right: 1rem;
    width: 300px;
    height: 300px;
    align-content: center;
    justify-content: center;
    filter: drop-shadow(10px 10px 16px rgb(0, 0, 0));
}

.nav {
    color:white;
}
.nav-pills .nav-link, .nav-pills .nav-link.active {
    background-color: transparent;
    color: white;
    letter-spacing: 1.5px;
    text-shadow:black 0.1em 0.1em 0.2em;
    font-family: 'Aclonica', sans-serif;
}

h4 {
    text-shadow:black 0.1em 0.1em 0.2em;  
}

.nav-pills .nav-link a, .nav-pills .nav-link.active a {
    color:white !important;
}
#v-pills-tab {
    margin-top: 45%;
}

.trayectoria-a {
    font-size: 18px;
}
.tab-content {
    margin-top: 8%;
}
.logo {
    border-radius: 70%;
    /*margin-left: 68%;*/
    width: 130px;
    height: 130px;
    justify-content: center;
    filter: drop-shadow(5px 5px 10px rgb(243, 240, 240));
    
}

.title {
    margin-top: 5% auto;
    align-items: center auto;
    /*font-size: 20px auto;
    /*text-align: center;*/
}

.titel-tab-pane {
    margin-top: 4%;
    font-size: 27px; 
    letter-spacing: 3px;
    text-shadow:black 0.1em 0.1em 0.2em;
    font-family: 'Aclonica', sans-serif;
}

#v-pills-tab {
    padding-top: 10%;
}

#v-pills-profile{
    margin-top: 5%;
}

.habilidades-tecnicas{
    margin-top: 5%;
    align-items: center;
    margin-right: 3%;
    margin-left: 3%;
    
}

.icon {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    justify-content: center;
    background-color: white;
    filter: drop-shadow(5px 5px 10px rgb(77, 76, 76));
    justify-content: space-between;
    margin: 10px;
}

.img {
   border-radius: 90%;
    margin-top: 10px;
    margin-right: 1rem;
    width: 310px;
    height: 290px;
    align-content: center;
    justify-content: center;
}

.text {
    margin-top: 6%;
    align-items: center auto;
    font-size: 23px;
}
.main h1{
    color: #dcdcdc;
}

.p {
    
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 23px;
}


#main h2,p {
    color:black;
}

.d-block {
    max-height: inherit;
    max-width:  inherit;
    align-content: center;
}

.portafolio {
    color: #dcdcdc;
}

.card {
    border: 3px solid #e3e2e2;
    background-color: transparent;
    border-radius: 12px;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(94,94,97,1);
    -moz-box-shadow: 6px 6px 5px 0px rgba(94,94,97,1);
    box-shadow: 6px 6px 5px 0px rgba(94,94,97,1);
}

.card-img-top {
    width: 530px;
    height: 320px;
    border-radius: 8px;
    align-items: center;
    margin-left: 0.5%;
}

.card-title{
    font-size: 75px auto; 
    letter-spacing: 3px;
    text-shadow:black 0.1em 0.1em 0.2em;
}

.contactame {
     text-align: center;
    justify-content: center;
    color: #dcdcdc;
}

.form .text-center{
    font-size: 22px; 
    letter-spacing: 3px;
    text-shadow:black 0.1em 0.1em 0.2em;

}
#footer{
   /*background-color: #5d5e60;*/
    -webkit-box-shadow: 0px -8px 18px -3px rgba(217,217,224,1);
-moz-box-shadow: 0px -8px 18px -3px rgba(217,217,224,1);
box-shadow: 0px -8px 18px -3px rgba(217,217,224,1);
    /*box-shadow: 6px 0  8px 0 rgba(255, 254, 254, 0.993);*/
    border-radius: 3px;
    height: 35%;
    background: rgb(120,95,212);
background: linear-gradient(180deg, rgba(120,95,212,1) 5%, rgba(97,98,98,1) 100%);

}

#footer a,p {
    color:#e3e2e2;
    text-shadow:black 0.1em 0.1em 0.2em;
    font-size: 20px;
}


.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
   /* border: 1px solid white; *//*esto nos sirve solo como marco de referencia para la imagen una vez que terminamos el estilo lo borramos*/
    margin: 0 8px;
   background-size: 50px 50px;
}

.social-link.twitter {
   background-image: url('../img/twitter.svg'); 
}

 .social-link.github {
    background-image: url('../img/github.svg');
 }

 .social-link.facebook {
    background-image: url('../img/facebook.svg');
 }

 .social-link.linkedin {
    background-image: url('../img/linkedin.svg');
 }